[mysqld]
# Binlog không kiểm soát sẽ phát triển vô hạn, dẽ dàng chiếm dụng toàn bộ ổ đĩa
# MariaDB sẽ là chương trình đầu tiên ngừng hoạt động, gây ra lỗi phổ biến nhất khi triển khai EasyEngine
# Cần thiết lập 2 giới hạn sau để kiểm soát dung lượng binlog (tuỳ chỉnh theo dung lượng ổ cứng và tần suất giao dịch):

# Xóa log sau 2 ngày
expire_logs_days = 2

# Log được chia nhỏ thành những file 100M/file
max_binlog_size = 100M
