[Unit]
Description=Run Update Fail2ban IPSet Whitelist Weekly

[Timer]
OnCalendar=Mon *-*-* 04:30:00
Persistent=true

[Install]
WantedBy=timers.target
