cloudflare_config:
    worker:
        script_name: "crowdsec-bouncer"
        logpush: null
        tags: []
        compatibility_date: "2026-01-01"
        compatibility_flags: []
        log_only: false
    decisions_sync_worker:
        cron: '*/5 * * * *'
    accounts:
        - id: ${CLOUDFLARE_ACCOUNT_ID}
          ban_template: ""
          zones:
