module ee-logrotate 1.0;

require {
    type logrotate_t;
    type container_runtime_exec_t;
    type usr_t;
    class file { read open getattr append execute execute_no_trans map };
}

#============= logrotate_t ==============

allow logrotate_t container_runtime_exec_t:file { read open getattr };
allow logrotate_t container_runtime_exec_t:file { execute execute_no_trans };
allow logrotate_t container_runtime_exec_t:file map;
allow logrotate_t usr_t:file append;
