name: crowdsec

services:
  crowdsec:
    image: crowdsecurity/crowdsec:latest
    container_name: crowdsec
    environment:
      COLLECTIONS: "crowdsecurity/nginx crowdsecurity/sshd crowdsecurity/linux crowdsecurity/wordpress"
      TZ: "Asia/Ho_Chi_Minh"
    ports:
      - "127.0.0.1:8080:8080"
    volumes:
      - ./config:/etc/crowdsec
      - ./data:/var/lib/crowdsec/data
      - /var/log/secure:/var/log/secure:ro
      - ${NGINX_PROXY_LOG_DIR}:/var/log/nginx-proxy:ro
    restart: unless-stopped

  fw-bouncer:
    build: ./fw-bouncer
    container_name: crowdsec-fw-bouncer
    network_mode: "host"
    cap_add:
      - NET_ADMIN
      - NET_RAW
    depends_on:
      - crowdsec
    volumes:
      - ./data-bouncers/fw-bouncer.yaml:/etc/crowdsec/bouncers/crowdsec-firewall-bouncer.yaml:ro
    restart: unless-stopped

  cloudflare-worker-bouncer:
    image: crowdsecurity/cloudflare-worker-bouncer:latest
    container_name: crowdsec-cf-worker-bouncer
    depends_on:
      - crowdsec
    volumes:
      - ./data-bouncers/cf-worker-bouncer.yaml:/etc/crowdsec/bouncers/crowdsec-cloudflare-worker-bouncer.yaml:ro
    restart: unless-stopped
